<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YYCommentControl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04CAE6951C9BB848008E1596</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04CAE6AE1C9BB849008E1596</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04CAE6B91C9BB849008E1596</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
